<html><head><title>HTTP-Inspect</title></head><body>
    <h1>HTTP-Inspect</h1>
    <p>Es gibt die folgenden Aktionen:</p>
    <dl>
      <dt>/text</dt>
      <dd>Eine Reintext-Darstellung der Anfrage-Header</dd>

      <dt>/html</dt>
      <dd>Eine HTML-Darstellung der Anfrage-Header</dd>

      <dt>/cookie</dt>
      <dd>Setzt ein Cookie und zeigt den Inhalt an</dd>
    </dl>
</body></html>
